<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon>directions_bike</mat-icon>
      <span class="example-spacer"></span>
      <span>Interaktywna mapa ścieżek rowerowych</span>


      <a mat-raised-button color="primary" href="https://github.com/RafalSikora51/InteractiveMap">GitHub</a>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Opcja 1</button>
    <button mat-menu-item>Opcja 2</button>
  </mat-menu>
  <div>
    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened="true" position="end">
        <mat-nav-list>
          <a mat-list-item class="not-active">Menu</a>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="addAllMarkersFromAPI()">Dodaj ścieżki do mapy</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)=" addBicycleLayer()">Wyświetl ścieżki</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="drawPath()">Utwórz ścieżkę</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="removeBicycleLayer()">Usuń ścieżki z mapy</a>
          <mat-divider></mat-divider>
          <a mat-list-item (click)="showArrayMarkers()">Wyświetl dodane koordynaty</a>
          <mat-card>
            <mat-card-header>Koordynaty</mat-card-header>
            <mat-card-content *ngIf="showArray">
              <a mat-list-item *ngFor="let marker of markersArray"> {{marker.lat}}  {{marker.lng}}</a>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
            </mat-card-content>
          </mat-card>
        </mat-nav-list>

      </mat-sidenav>
      <mat-sidenav-content>

        <div id="map" style="width:100%;height:700px">
        </div>


      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <!--<div id="map" style="width:100%;height:600px">
</div>
-->