<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="size-44">directions_bike</mat-icon>
      <span class="example-spacer"></span>
      <span>Interaktywna mapa ścieżek rowerowych</span>
      <a mat-raised-button color="primary" href="https://github.com/RafalSikora51/interactiveMap">GitHub</a>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">

    <p>

    </p>


  </mat-menu>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" style='min-width: 900px; font-family: Roboto;'>
      <p style="font-size: 24px">Szczegóły dotyczące punktów ( Przeciągaj punkty metodą Drag & Drop):</p>
      <mat-divider></mat-divider>
      <mat-grid-list cols="2">
        <mat-grid-tile>
          <div class="row">
            <div class="col-sm-3">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <p style="font-size: 18px">Wyznacz kolejność punktów</p>
                  <mat-divider></mat-divider>
                  <mat-divider></mat-divider>
                  <mat-divider></mat-divider>
                </div>
                <div class="panel-body">
                  <ul class="list-group" dnd-sortable-container [sortableData]="addressArray" [dropZones]="['delete-dropZone']">
                    <mat-list *ngIf="addressArray">
                      <mat-list-item *ngFor="let marker of addressArray; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{marker.address}}</mat-list-item>
                    </mat-list>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <p style="font-size: 18px">Wybrane punkty:</p>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>

                <mat-list *ngIf="addressArray">
                  <mat-list-item *ngFor="let marker of addressArray; let i = index">{{i + 1}}. {{marker.address}}</mat-list-item>
                </mat-list> 
                <br/>

              </div>
            </div>
            <button mat-raised-button color="primary" (click)="sidenav.toggle()" style="width: 100%;">Przejdź Dalej</button>
          </div>
        </mat-grid-tile>


        <mat-grid-tile>
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <p style="font-size: 24px">Punkty wykluczone z planowania trasy:</p>
                  <mat-divider></mat-divider>
                  <mat-divider></mat-divider>
                  <mat-divider></mat-divider>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body" dnd-sortable-container [dropZones]="['delete-dropZone']" [sortableData]="recycledMarkers">
                    Przeciągnij tutaj niechciane punkty
                    <br/>
                  </div>
                </div>
                <mat-list *ngIf="recycledMarkers">
                  <mat-list-item *ngFor="let marker of recycledMarkers; let i = index">{{i + 1}}. {{marker.address}}</mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <mat-sidenav-container class="example-container">
          <mat-sidenav mode="side" opened="true" position="end">
            <mat-nav-list>
              <a mat-list-item class="not-active">Menu</a>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>
              <mat-divider></mat-divider>

              <!--  <a mat-list-item (click)="addAllMarkersFromAPI()">Wyświetl ścieżki</a>
               <a mat-list-item (click)="getNodes()">Dodaj ścieżki do mapy</a> -->
              <mat-divider></mat-divider>
              <a mat-list-item (click)=" sidenav.toggle()">Zaplanuj trasę</a>
              <mat-divider></mat-divider>
              <!--  <a mat-list-item (click)=" addBicycleLayer()">Wyświetl ścieżki Google</a>
              <mat-divider></mat-divider>
              <a mat-list-item (click)="removeBicycleLayer()">Usuń ścieżki z mapy</a> 
              <mat-divider></mat-divider> -->
              <a mat-list-item (click)="doDijkstraOnList()">Wyznacz ścieżkę - Dijkstra</a>
              <mat-divider></mat-divider>
              <a mat-list-item (click)="doBellmanOnList()">Wyznacz ścieżkę - Bellman-Ford</a>
              <mat-divider></mat-divider>
              <a mat-list-item (click)="mapReset()">Reset mapy</a>
              <mat-divider></mat-divider>
              <a mat-list-item (click)="closeAllInfoWindows()">Zamknij okna dialogowe</a>
             <mat-divider></mat-divider>
            <!--  <a mat-list-item (click)="showAddresses()">pokaz id i adresy nodeow</a>
              <mat-divider></mat-divider>
              <a mat-list-item (click)="showrecycled()">pokaz id i adresy recycled</a>  -->
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <div id="map" style="width:100%;height:600px"></div>
          </mat-sidenav-content>

        </mat-sidenav-container>
      </div>

      <div style='min-height:200px'>
        <mat-card class="example-card" style="overflow: hidden;">
          <hr color="#595959" width="100%">
          <mat-tab-group class="tab-group">
            <mat-tab label="Planowanie trasy">
              <mat-card-header style="margin-top:20px; width: 100%;">
                <img mat-card-avatar src="/assets/direction.png">
                <mat-card-title style=" margin-left:20px; font-size:150%; min-width:200px;">Szczegóły trasy</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-grid-list cols="2" rowHeight="120px">
                  <mat-grid-tile>
                    <mat-horizontal-stepper *ngIf="addressArrayForStepper.length>=1">
                      <div *ngFor="let marker of addressArrayForStepper;  trackBy: trackBy;">
                        <mat-step>{{marker.address}}</mat-step>
                      </div>
                    </mat-horizontal-stepper>
                  </mat-grid-tile>
                  <mat-grid-tile *ngIf="length!=0">

                    <p>Dlugość trasy : {{length | number: '1.2-2'}} km</p>
                  </mat-grid-tile>

                </mat-grid-list>

              </mat-card-content>
            </mat-tab>

          </mat-tab-group>

        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>